.dart_tool/
.pub/
build/
dist/
coverage/
pubspec.lock
pubspec_overrides.yaml
.flutter-plugins*
.dn/
translocale.delivery*.json
.DS_Store
lib/dartnative_plugin_registrant.dart
example/ios/
example/android/
example/.idea/
example/.vscode/
example/*.iml
example/.metadata
example/lib/dartnative_plugin_registrant.dart

dn_plugins.lock
*.local-backup
.env
.env.*
!.env.example
